<%= form_with(model: book, local: true) do |form| %>
  <div class="field" style="display: none">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field" style="display: none">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>